{% extends "bootstrap/base.html" %}

{% from"layout/macro.html" import inv_css, inv_script %}

{% block html_attribs %} ng-app="stock" lang="en" {% endblock %}

{% block title %} 势不可挡 {% endblock %}

{% block metas %}
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>势不可挡</title>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">🐂</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/info">情报中心</a></li>
                    <li><a href="/holder">股东人数</a></li>
                    <li><a href="/timeline">时光机</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            逗牛场<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/stock">自选股</a></li>
                            <li><a href="/stock">妖股</a></li>
                            <li><a href="/stock">无量下跌</a></li>
                            <li><a href="/stock">突破平台</a></li>
                        </ul>
                    </li>
                    <li><a href="/readme">关于我</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="display: none;">
                    <li><a href="/signin">登录</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}