{% extends "bootstrap/base.html" %}

{% from"layout/macro.html" import inv_css, inv_script %}

{% block html_attribs %} ng-app="stock"  lang="en" {% endblock %}

{% block title %} 势不可挡 {% endblock %}

{% block metas %}
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">🐂</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/">情报中心</a></li>
                    <li><a href="/">时光机</a></li>
                    <li><a href="/stocks">黄金城</a></li>
                    <li><a href="/book_read">易读</a></li>
                    <li><a href="/readme">关于我</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signin">登录</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}